<div class="text-center">
    <h1>Chore Rotation System</h1>
    <p class="lead">Fairly distribute chores among your siblings</p>
    <a href="/setup" class="btn btn-primary btn-lg">Get Started</a>
</div>